<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Login</title>

  <link rel="icon" href="" type="image/svg+xml">
  <link rel="apple-touch-icon" href="">

  <link rel="stylesheet" href="">

</head>

<body>
  <!-- your content here... -->
    <form id="login_form" method="post">
        <div>LOGIN</div>
        <div>
            <input type="text" name="username" class="text-field" id="user_name" />
        </div>
        <div>
            <input type="password" name="password" class="text-field" id="password" />
        </div>
        <div><button type="submit">login</button></div>
    </form>
  <script src=""></script>
</body>
</html>

