<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Create Product</title>

    <link rel="icon" href="" type="image/svg+xml">
    <link rel="apple-touch-icon" href="">

    <link rel="stylesheet" href="">
</head>

<body>
    <!-- your content here... -->
    <form id="product_form" method="post">
        <div>PRODUCT</div>
        <div>
            <input type="text" name="product_name" class="text-field" placeholder="Name" />
        </div>
        <div>
            <textarea name="product_description" class="text-area" rows="4" cols="50" placeholder="Description"></textarea>
        </div>
        <div>
            <input type="text" name="product_price" class="text-field" placeholder="Price" pattern="^\d*\.?\d*$" />
        </div>
        <div>
            <button type="submit" class="button-submit">Save</button>
        </div>
    </form>
    <script src=""></script>
</body>
</html>

