<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Create User</title>

    <link rel="icon" href="" type="image/svg+xml">
    <link rel="apple-touch-icon" href="">

    <link rel="stylesheet" href="">
</head>

<body>
    <!-- your content here... -->
    <form id="user_form" method="post">
        <div>USER</div>
        <div><input type="text" name="username" class="" placeholder="Username" /></div>
        <div><input type="password" name="password" id="password" class="" placeholder="Password" /></div>
        <div><input type="password" name="confirm_password" id="confirm_password" class="" placeholder="Confirm Password" /></div>
        <div>
            <button type="submit" name="" class="">Save</button>
        </div>
    </form>
    <script src=""></script>
</body>
</html>

